<!DOCTYPE html> 
<html>
<head><title>Lab7a</title>
<link rel="stylesheet" type="text/css" href=""> 
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<section class="row">
<h1 class="large-6 columns">Foundation 5 test page is really great</h1>
<h2 class="larger-6 columns">Bedford Williamson</h2>
</section>
<section>
<p class="large-4 columns">This is my first app using foundation and rails together.</p>
<p class="large-8 columns">I would like to test out how everything works to gether.</p>
<p>Time:<%= Time.now %></p>
</section>
</body>
</html>